<!DOCTYPE html> 
<html>
  <head>
    <title>Dogecoin</title>
    <%- include std_bootstrap %>
  </head>
  <body>
    <%- include std_nav %>
 
    <div id="container" class="container">
        <%- include std_footer %>
    </div>
  </body>
</html>