<!DOCTYPE html> 
<html>
  <head>
    <title>Dogecoin</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <%- include user_nav %>
 
    <div id="container" class="container">
      <div class="row">
        <a class="btn btn-success" href="/charge">充值狗币</a>
      </div>
    <%- include std_footer %>
    </div>
  </body>
  <script src="/javascripts/jquery.min.js"></script> 
  <script src="/javascripts/bootstrap.js"></script> 
</html>