<!DOCTYPE html> 
<html>
  <head>
    <title>Dogecoin</title>
    <%- include std_bootstrap %>
    <style type="text/css">
      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 50px auto 70px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
    </style>
  </head>
  <body>
    <%- include std_nav %>
 
    <div id="container" class="container">
    	<form class="form-signin" action="/register" method="POST">
    		<fieldset> 
			    <legend>用户注册</legend> 
			    <div class="control-group">  
			       <label  class="control-label" for="username">用户名</label> 
			       <div class="controls">  
			         <input  type="text" class="input-xlarge" id="username" name="username" >  
			         <p class="help-block">你的账户名称，用于登录和显示。</p> 
			       </div> 
			    </div> 
			    <div class="control-group">  
			       <label  class="control-label" for="password">口令</label>  
			       <div class="controls">  
			         <input  type="password" class="input-xlarge" id="password" name="password">  
			       </div>
			    </div> 
			    <div class="control-group">  
			       <label  class="control-label" for="password-repeat">重复输入口令</label>  
			       <div class="controls">  
			         <input  type="password" class="input-xlarge" id="password-repeat"  
			           name="password-repeat" >  
			       </div> 
			    </div> 
			    <div class="form-actions" >  
			       <button type="submit" class="btn btn-large btn-primary" >注册</button> 
			    </div> 
		  </fieldset>
      	</form>
        <%- include std_footer %>
    </div>
  </body>
</html>