.resource_building {
	width:100px;
	height:100px;
	background:url(../images/planet/resource_building.png) no-repeat;
	position:relative;
}

.resource_building_info {
	width:100px;
	height:100px;
	position:absolute;
	background:url(../images/planet/building_info_panel.gif);
}

.resource_building_info h6 {
	margin:82px 5px;
	color:#ffc600;
}

.resource_denied {
	background-position-y: -100px;
}

.resource_disabled {
	background-position-y: -200px;
}

.building_1001 {
	background-position-x: 0;
}

.building_1002 {
	background-position-x: -100px;
}

.building_1003 {
	background-position-x: -400px;
}

.building_1004 {
	background-position-x: -300px;
}

.building_1005 {
	background-position-x: -500px;
}

.building_1006 {
	background-position-x: -200px;
}

.building_info_comment {
	height:180px;
}