<!DOCTYPE html> 
<html>
  <head>
    <title>Xgame</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <%- include ../user_nav %>
 
    <div id="container" class="container">
      <div class="row">
        <div class="span2">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Planets</a></li>
            <li><a href="#">Building</a></li>
            <li><a href="#">Science</a></li>
            <li><a href="#">Fleets</a></li>
          </ul>
        </div>
        <div class="span10">
          
        </div>
      </div>
    <%- include ../std_footer %>
    </div>
  </body>
  <script src="/javascripts/jquery.min.js"></script> 
  <script src="/javascripts/bootstrap.js"></script> 
</html>